body {
   font-family: 'arial';
}

.profile-frame {
   width: 500px;
   padding: 35px;
   padding-top: 10px;
   border: 2px solid black;
   border-radius: 10px;
   margin: auto;
   background-color: rgb(227, 227, 227);
}

.profile-buttons {
   margin: 5px;
   margin-left: 0;
   font-size: 20px;
   border-radius: 4px;
   border: 2px solid rgb(84, 84, 84);
}

.profile-hrefs {
   text-decoration: none;
}