{{define "title"}}Shop{{end}}
{{define "main"}}
<div class="product-content-page">
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id mauris in neque iaculis dapibus. Integer eget
      pharetra lorem. Sed mollis justo at justo sollicitudin condimentum. Fusce cursus et ex at dapibus. Vivamus
      suscipit tincidunt lacinia. Duis a ex ut risus elementum efficitur et vel felis. Nulla in euismod urna.
      Praesent est ipsum, semper rutrum felis nec, faucibus dignissim lorem. Quisque vehicula vestibulum urna, at
      tempor lacus fermentum eget. Proin congue lectus id condimentum elementum. Cras dapibus faucibus libero vitae
      mollis. Cras eu lacus justo.

      Nullam laoreet tellus non laoreet feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
      efficitur euismod neque posuere luctus. Curabitur in rhoncus quam, vel iaculis nisi. Duis accumsan elit ornare
      sapien tempus vulputate. Etiam sit amet maximus mauris, vel sagittis urna. Duis sit amet mi turpis.

      Nullam volutpat dictum elit, in pellentesque leo fermentum sit amet. Quisque ultricies urna quis tellus
      aliquet, sed dapibus justo vestibulum. Suspendisse ultricies metus leo, nec convallis quam finibus a. Fusce
      hendrerit sapien at dapibus faucibus. Aliquam hendrerit sem urna, ac tristique nisi molestie nec. Nam tincidunt
      hendrerit metus convallis interdum. Nullam sodales, mi vel lacinia aliquam, risus turpis semper ex, vitae
      facilisis sapien nisl non turpis. Suspendisse a.</p>
</div>
{{end}}